
<div class="well" ng-show="isAdmin()"> uid: {{uid}} | sid: {{sid}} | cid: {{cid}} | {{myresults.clicks}} </div>

<form ng-show="active" name="formByCategory" ng-submit="submitIt()" novalidate>
  <accordion close-others={{oneAtATime}}>
    <accordion-group  ng-repeat="(key, value) in groupedByCategory" is-open="value.open">
      <accordion-heading>
        <a ng-click="clickTrack($event, key)">{{key}}</a>
      </accordion-heading>
      <div ng-repeat="c in value | orderBy: 'rating' | reverse">
        <div class="form-group">
          <input  ng-click="clickTrack($event, c.name)" type="radio" name="selected" ng-model="selectedItem.selected" id="{{c.name}}_{{key}}" ng-value="c" ng-required="true"> &nbsp;{{c.name}} | Category = {{c.category}} | Rating = {{c.rating}}
        </div>
      </div>
    </accordion-group>
  </accordion>
  <div ng-show="selectedItem.selected.name"><h4>You have selected {{selectedItem.selected.name}} | {{selectedItem.selected.category}} | {{selectedItem.selected.rating}}</h4>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" ng-disabled="formByCategory.$invalid">Select Item</button>
  </div>
</form>
<div ng-hide="active" class="well">
  <p class="lead">You will automatically be directed to the next question. <i class="glyphicon glyphicon-forward"></i></p>
</div>
<!--<div ng-hide="active" class="well">-->
  <!--<p class="lead">You Selected:-->
    <!--<h1>{{myresults["response"].choice}}</h1>-->
  <!--</p>-->
  <!--<table class="table">-->
    <!--<thead>-->
      <!--<tr>-->
        <!--<th>Charity</th>-->
        <!--<th>Category</th>-->
        <!--<th>Rating</th>-->
      <!--</tr>-->
    <!--</thead>-->
    <!--<tb>-->
      <!--<tr>-->
        <!--<td>{{myresults.response.choice}}</td>-->
        <!--<td>{{myresults.response.category}}</td>-->
        <!--<td>{{myresults.response.rating}}</td>-->
      <!--</tr>-->
    <!--</tb>-->
  <!--</table>-->
  <!--<h2>Category Clicks</h2>-->
  <!--<ol>-->
    <!--<li ng-repeat="click in clicks">{{click.click}} | time elapsed = {{(click.date - starttime) / 1000}} seconds</li>-->
  <!--</ol>-->

  <!--&lt;!&ndash;   <p class="lead">Click the next button to move on</p> &ndash;&gt;-->

<!--</div>-->
